
body {
  padding:0;
  margin:0;
  overflow-y:scroll;
  height:100vh;
}
button{
  background-color: transparent;
  border:none
}
button:focus{
  border:none
}
#root{
  height:100%
}
.main_container{
  background-color: pink;
  height:100%
}
/* Search bar */
.search_container{
  background-color: seagreen;
  margin:0;
  height:2rem;
  padding:0.5rem;
  padding-left:2rem;
  overflow-y: visible;
}
.search_input{
  height:100%;
  background-color: white;
  border:none;
  color:hotpink;
  transition:1s;
  width:10rem;
  position:relative;
  border-radius:1rem;
  padding-left:1rem

}
.search_input:focus{
  border:none;
  outline:none;
  width:20rem;
}

.search_autofill{
  position:absolute;
  z-index:2;
  margin-top:5px;
  background-color: rgba(240, 248, 255);
  max-height: 400px;
  color:pink;
  overflow-y:auto;
  width:25rem;
  border-radius:1rem;
  border:1px solid black;
  box-shadow:0 0 5px black
}

.search_autofill::-webkit-scrollbar{
  display:none
}

.plant_autofill{
  padding:0.2rem;
  padding-left:1.5rem;
  display:flex;
  flex-direction: row;
  overflow-y: auto;
  height:2rem;
  overflow:visible;
  align-items: center;
  transition:0.5s
}
.plant_autofill  *:not(.plant_autofill_photo) {
  pointer-events: none;
}
.plant_autofill:hover{
  background-color: pink;
  cursor:pointer;
  color:hotpink;
  z-index:3
}
.new_plant_svg{
  width:2rem
}
.new_plant_text{
  margin-left:1rem;
  font-size:1rem
}
.new_plant{
  color:rgba(255, 105, 180, 0.527);
}
.new_plant:hover{
  color:hotpink
}
.plant_autofill_photo{
  height:2rem;
  width:2rem;
  object-fit: contain;
  border:1px solid pink;
  transition:1s;
  alt:'no photo'
}
.plant_autofill_data{
  margin-left:1rem;
  font-size:1rem
}
/* Content Container */
.content_container{
  display:flex;
}
/* Rooms */
.rooms{
  padding-top:1rem;
  flex:4;
  background-color: pink;
}
.room_container{
  margin: 1rem;
  position:relative;
  z-index: 1;
  transition:0.5s
}
.room_container > h2 {
  background-color: rgb(253, 141, 160);
  height:2rem;
  padding-left:1rem;
  text-justify: center;
  margin:0;
  transition:1s;
  border-radius:1rem 1rem 0 0
}
.room_container>h2:hover{
  cursor:pointer
}
.hide_btn{
  background-color: transparent;
  padding:0;
  color:inherit;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  right:0.5rem;
  top:0;
  height:2rem;
  z-index:2;
  transition:1s;
  transform:rotate(180deg);
  pointer-events: none;
}
.room_plants{
  background-color: blanchedalmond;
  display:flex;
  flex-direction:row;
  overflow: hidden;
  justify-content: space-around;
  transition: 1s;
  padding:0;
  flex-wrap: wrap;
  max-height:50rem;
  border-radius: 0 0 1rem 1rem;
}
.room_container.not_shown{
  margin:0 1rem 0 1rem
}
.room_container.not_shown>h2{
  border-radius:0
}
.room_container:first-child.not_shown>h2{
  border-radius: 1rem 1rem 0 0 !important;
}
.room_container:last-child.not_shown>h2{
  border-radius:0 0 1rem 1rem !important
}
.room_container.not_shown>.room_plants{
  max-height:0
}
.room_container.not_shown>.hide_btn{
  transform: rotate(0deg);
}
/* Plants */
.plant{
  width:20rem;
  height:23rem;
  aspect-ratio: 1/1 !important;
  transition:0.8s;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
  margin-top:1rem;
  flex-shrink:1;
  position:relative;
  border-radius:10px;
  overflow:hidden
}
.plant_photo{
  width:100%;
  height:100%;
  z-index:0;
  object-fit: cover;
  position:absolute;
  border-radius: 10px;
}
.plant_data{
  z-index:1;
  background-color: rgb(255, 192, 203, 0.4);
  position:absolute;
  bottom:-24%;
  left:0;
  right:0;
  padding:0.7rem;
  color:white;
  transition:1s
}
.plant:hover>.plant_data{
  bottom:0
}
.plant_name{
  margin:0;
  padding:0 0 0.5rem 0.5rem;
}
.plant_data>div{
  margin:0;
  margin-top:0.5rem;
  display:flex;
  align-items: center;
}
.plant_data>div>svg{
  margin-right:0.5rem
}
.water_btn{
  border:none;
  background-color: transparent;
  position:absolute;
  bottom:0;
  right:0;
  padding:0;
  transition:1s;
  margin:0.5rem;
  color:white
}
.water_btn:hover{
  color:dodgerblue;
  cursor:pointer
}
.plant_delete_btn{
  transition:1s;
  position:absolute;
  top:0;
  right:0;
  margin:0.5rem;
  padding:0;
  color:white
}
.plant_delete_btn:hover{
  color:crimson;
  cursor:pointer
}

/* AddPlant */
.side_panel{
  position:fixed;
  overflow:hidden;
  padding:1rem;
  padding-top:0;
  top:10%;
  right:-30%;
  height:80vh;
  flex-basis:0;
  background-color: rgba(46, 139, 86, 0.9);
  transition:1s;
  white-space: nowrap;
  z-index: 3;
  width:25%;
  max-width: 300px;
  border-radius: 1rem;
  overflow-y:auto
}
.side_panel_newplant{
  margin:0;
  margin-bottom:0.5rem;
}
.side_panel::-webkit-scrollbar{
  display:none
}
.side_panel.show{
  right:2.5%;
  white-space:normal;
}
.side_panel_closebtn{
  position: sticky;
  border:none;
  background-color: transparent;
  padding:0;
  z-index:2;
  align-self: flex-end;
  top:0;
  width:15%;
  margin-left:85%;
  color:white;
  transition: 0.5s;
}
.side_panel_closebtn:hover{
  color:pink
}
.side_panel_form{
  display:flex;
  flex-direction: column;
  gap:0.5rem
}
.side_panel_form > input, .side_panel_form > select, .side_panel_form > label {
  height:2rem;
  border-radius: 1rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  border:none;
  transition:1s
}
.side_panel_form>input:hover, .side_panel_form>select:hover, .side_panel_form > label:hover{
  background-color: pink;
}
.side_panel_form>*:focus{
  outline:none;
  border:none
}
.side_panel_form_photo_div{
  display:flex
}
.form_submit{
  height:2rem;
  border-radius:1rem;
  background-color: white;
  font-size:1.5rem;
  transition:0.5s;
  background: linear-gradient(0.25turn,white,pink,hotpink);
  background-size: 500%;
  background-position: left;
}
.form_submit:hover{
  background-position:center;
  cursor:pointer
}
.form_submit:active{
  background-position:right;
  cursor:pointer
}
#photo_input{
  display:none
}
.photo_input_label{
  display:flex;
  align-items: center;
  cursor:pointer;
  background-color: white;
  transition:0.5s;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.photo_input_label:hover{
  background-color: pink;
}
.photo_input_label:active{
  background-color: hotpink;
}
.side_panel_current_plant{
  display:flex;
  flex-direction: column;
  gap:5px;
  font-size: 1rem;
}
.current_plant_photo{
  max-width:300px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}
.current_plant_data_span{
  font-weight: bold;
}
.populate_form_btn{
  background-color: white;
  height:2rem;
  border-radius:1rem;
  margin-bottom:2rem;
  margin-top:0.5rem
}
.errors{
  border:1px solid red;
  padding:0.5rem;
  background-color: rgba(255, 192, 203, 0.8);
  border-radius: 1rem;
}
.errors_caption {
  margin:0
}
.errors>ul{
  margin:0;
  padding-left:1rem
}
.error{
  color:red
}