
body {
  background-color: pink;
  padding:0;
  margin:0
}
.search_container{
  background-color: seagreen;
  margin:0;
  height:4rem
}
/* Rooms */
.room_container{
  color:red;
  margin: 0 1rem 0 1rem;
  position:relative;
  z-index: 1
}
.room_container > h2 {
  background-color: rgb(253, 141, 160);
  height:2rem;
  padding-left:1rem;
  text-justify: center;
  margin:0
}
.hide_btn{
  background-color: transparent;
  padding:0;
  color:inherit;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  right:0.5rem;
  top:0;
  height:2rem;
  z-index:2
}
.room_plants{
  background-color: blanchedalmond;
  display:flex;
  flex-direction:row;
  overflow: hidden;
  justify-content: space-around;
  transition: 1s;
  padding:0;
  flex-wrap: wrap;
  height:50rem
}
.room_plants.not_shown {
  height:0
}
.plant{
  width:20rem;
  aspect-ratio: 1/1;
  border:1px solid red;
  transition:0.8s;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
  margin-top:1rem;
  flex-shrink:1
}