@keyframes background-sweep {
  0% {background-position: left;}
  100% {background-position: right;}
}
@keyframes wave {
  0% {filter:blur(1px)}
  100% {filter:blur(0)}
}
@keyframes water_wave{
  0%{top:-400%}
  40%{top:0}
  100%{top:100%}
}
@keyframes new_room_appear{
  from{opacity:0%}
  to{opacity:100%}
}
@keyframes loading{
  0%{left:30%; transform:scale(1)}
  50%{left:50%; transform:scale(2)}
  100%{left:70%; transform:scale(1)}
}
body {
  padding:0;
  margin:0;
  overflow-y:scroll;
  height:100vh;
  font-family: 'Playfair Display', serif; 
}
button{
  background-color: transparent;
  border:none
}
button:focus{
  border:none
}
#root{
  height:100%
}
.main_container{
  background-color: pink;
  min-height:100vh;
  position:relative;
  overflow-y: hidden;
}
.water_animation{
  width:100%;
  height: 1000px;
  z-index:3;
  background-color: rgba(30, 143, 255, 0.537);
  position:absolute;
  top:-400%;
  animation:water_wave 3s paused 1s
}
/* Search bar */

.search_container{
  background-color: rgba(46, 139, 86);
  margin:0;
  height:2rem;
  padding:0.8rem;
  padding-left:2rem;
  overflow-y: visible;
  position:relative;
  border-bottom: 1px solid honeydew
}
.name_container{
  display:flex;
  flex-direction: row;
  height:100%;
  justify-content: left;
  align-items: center;
}

.page_title{
  margin-left:1rem;
  color:pink
}
.search_input{
  height:100%;
  background-color: white;
  border:none;
  color:hotpink;
  transition:1s;
  width:10rem;
  position:relative;
  border-radius:0.75rem;
  padding-left:1rem;
  border:1px solid honeydew;
  position:relative;
}
.search_input:focus{
  border:none;
  outline:none;
  width:18rem;
  box-shadow:0 0 5px honeydew
}
.buttons_container{
  position:absolute;
  right:0;
  height:3.6rem;
  top:0;
  display:flex
}
.search_btn{
  color:honeydew;
  transition:0.5s;
}
.addRoom_btn:hover{
  color:hotpink;
  cursor:pointer
}
.waterAll_btn:hover{
  color:rgb(93, 179, 233);
  cursor:pointer
}

.search_autofill{
  position:absolute;
  z-index:2;
  margin-top:5px;
  background-color: white;
  max-height: 400px;
  color:pink;
  overflow-y:auto;
  width:25rem;
  border-radius:1rem;
  border:1px solid honeydew;
  box-shadow:0 0 5px honeydew
}

.search_autofill::-webkit-scrollbar{
  display:none
}

.plant_autofill{
  padding:0.2rem;
  padding-left:0.5rem;
  display:flex;
  flex-direction: row;
  overflow-y: auto;
  height:2rem;
  overflow:visible;
  align-items: center;
  transition:0.5s
}
.plant_autofill  *:not(.plant_autofill_photo) {
  pointer-events: none;
}
.plant_autofill:hover{
  background-color: pink;
  cursor:pointer;
  color:hotpink;
  z-index:3;
}
.plant_autofill.loading{
  position:relative;
  display:flex;
  justify-content: center;
  padding:0;
  padding-left:0;
  pointer-events: none;
}
.plant_autofill.loading::before{
  content:'';
  background-color: pink;
  position:absolute;
  left:30%;
  width:10px;
  height:10px;
  border-radius: 5px;
  animation: loading 2s infinite alternate ease-in-out;
  transition:1s;
}
.new_plant_svg{
  width:2rem
}
.new_plant_text{
  margin-left:1rem;
  font-size:1rem
}
.new_plant{
  color:rgba(255, 105, 180, 0.527);
}
.new_plant:hover{
  color:hotpink
}
.plant_autofill_photo{
  height:2rem;
  width:2rem;
  object-fit: contain;
  border:1px solid pink;
  transition:1s;
  alt:'no photo'
}
.plant_autofill_data{
  margin-left:1rem;
  font-size:1rem
}
/* Content Container */
.content_container{
  display:flex;
}
/* Rooms */
.rooms{
  padding-top:1rem;
  flex:4;
}
.room_container{
  margin: 1rem;
  position:relative;
  z-index: 1;
  transition:0.5s;
  color:honeydew;
  border-radius: 1rem;
}
.new_room{
  opacity:100%;
  transition:1s;
  scale:1
}
.new_room.not_visible{
  opacity:0%;
  scale:0.02;
  pointer-events: none;

}
.room_container > h2 , .room_container > input{
  background-color: rgb(253, 141, 160);
  height:2rem;
  padding:0.5rem;
  padding-left:1rem;
  text-justify: center;
  margin:0;
  transition:1s;
  border-radius:1rem 1rem 0 0;
  border:1px solid honeydew
}
.room_container > input {
  width:calc(100% - 1.5rem);
  border-radius:1rem;
  font-size:1.5rem;
  color:white
}
.addRoomSendData_btn {
  position:absolute;
  right:-1px;
  top:1px;
  bottom:0;
  height:3rem;
  aspect-ratio: 1/1;
  border-radius:1rem;
  transition:0.5s;
  color:white
}
.addRoomSendData_btn:hover{
  box-shadow: 0 0 5px honeydew;
  cursor:pointer
}
.addRoom_error{
  height:1.5rem;
  font-size:1rem;
  background-color: pink;
  color:red;
  width:fit-content;
  margin-left:0.5rem
}
.room_container > input:focus{
  box-shadow: 0 0 10px honeydew;
  outline:none
}
.room_container>h2:hover{
  cursor:pointer
}
.hide_btn{
  background-color: transparent;
  padding:0;
  color:inherit;
  border:none;
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  right:0.5rem;
  top:0;
  height:3rem;
  z-index:2;
  transition:1s;
  transform:rotate(180deg);
  pointer-events: none;
}
.room_plants{
  backdrop-filter:blur(10px); 
  display:flex;
  flex-direction:row;
  overflow: hidden;
  justify-content: space-around;
  transition: 1s;
  padding:0;
  flex-wrap: wrap;
  max-height:50rem;
  border-radius: 0 0 1rem 1rem;
  border:1px solid honeydew;
  border-top:none;
  background-size:400% 400%;
  background-image:linear-gradient(0.13turn,seagreen,pink);
  animation:background-sweep 50s infinite alternate;
}
.room_container.not_shown{
  margin:0 1rem 0 1rem;
  border:none
}
.room_container.not_shown > .room_plants{
  border:none;
}
.room_container.not_shown>h2{
  border-radius:0
}
.room_container:first-child.not_shown>h2{
  border-radius: 1rem 1rem 0 0 !important;
}
.room_container:last-child.not_shown>h2{
  border-radius:0 0 1rem 1rem !important
}
.room_container.not_shown>.room_plants{
  max-height:0
}
.room_container.not_shown>.hide_btn{
  transform: rotate(0deg);
}
/* Plants */
.plant{
  width:20rem;
  height:23rem;
  aspect-ratio: 1/1 !important;
  transition:0.8s;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
  margin-top:1rem;
  flex-shrink:1;
  position:relative;
  border-radius:10px;
  overflow:hidden;
  border:1px solid honeydew
}
.plant.needs_watering>.plant_photo{
  filter:grayscale(1)
}
.plant_photo{
  width:100%;
  height:100%;
  z-index:0;
  object-fit: cover;
  position:absolute;
  border-radius: 10px;
}
.plant_data{
  z-index:1;
  background-color: rgba(255, 192, 203, 0.492);
  position:absolute;
  bottom:-26%;
  left:0;
  right:0;
  padding:0.7rem;
  color:white;
  transition:1s
}
.plant:hover>.plant_data{
  bottom:0
}
.plant_name{
  margin:0;
  padding:0 0 0.5rem 0.5rem;
}
.plant_data>div{
  margin:0;
  margin-top:0.5rem;
  display:flex;
  align-items: center;
}
.plant_data>div>svg{
  margin-right:0.5rem
}
.water_btn{
  border:none;
  background-color: transparent;
  position:absolute;
  bottom:0;
  right:0;
  padding:0;
  transition:1s;
  margin:0.7rem;
  color:white
}
.water_btn:hover{
  color:rgb(93, 179, 233);
  cursor:pointer
}
.plant_delete_btn{
  transition:1s;
  position:absolute;
  top:0;
  right:0;
  margin:0.7rem;
  margin-top:0.8rem;
  padding:0;
  color:white
}
.plant_delete_btn:hover{
  color:crimson;
  cursor:pointer
}
.plant_edit_btn{
  position:absolute;
  right:0;
  top:33%;
  transition:1s;
  margin:0.7rem;
  padding:0;
  color:white
}
.plant_edit_btn:hover{
  cursor:pointer;
  color:seagreen
}

/* AddPlant */
.side_panel{
  position:fixed;
  overflow:hidden;
  padding:1rem;
  padding-top:0;
  top:10%;
  right:-30%;
  height:80vh;
  flex-basis:0;
  background-color: rgba(46, 139, 86, 0.9);
  transition:1s;
  white-space: nowrap;
  z-index: 3;
  width:25%;
  max-width: 300px;
  border-radius: 1rem;
  overflow-y:auto;
  border:1px solid honeydew;
  box-shadow: 0 0 5px honeydew;
}
.side_panel_newplant{
  margin:0;
  color:honeydew;
  margin-bottom:0.5rem;
}
.side_panel::-webkit-scrollbar{
  display:none
}
.side_panel.show{
  right:2.5%;
  white-space:normal;
}
.side_panel_closebtn{
  position: sticky;
  border:none;
  background-color: transparent;
  padding:0;
  z-index:2;
  align-self: flex-end;
  top:0;
  width:15%;
  margin-left:85%;
  color:white;
  transition: 0.5s;
}
.side_panel_closebtn:hover{
  color:pink;
  cursor:pointer

}
.side_panel_form{
  display:flex;
  flex-direction: column;
  gap:0.5rem
}
.side_panel_form > input, .side_panel_form > select, .side_panel_form > label {
  height:2rem;
  border-radius: 1rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  border:none;
  transition:1s
}
.side_panel_form>input:hover, .side_panel_form>select:hover, .side_panel_form > label:hover{
  background-color: pink;
}
.side_panel_form>*:focus{
  outline:none;
  border:none
}
.side_panel_form_photo_div{
  display:flex
}
.form_submit{
  height:2rem;
  border-radius:1rem;
  background-color: white;
  font-size:1.5rem;
  transition:0.5s;
  background: linear-gradient(0.25turn,white,pink,hotpink);
  background-size: 500%;
  background-position: left;
}
.form_submit:hover{
  background-position:center;
  cursor:pointer
}
.form_submit:active{
  background-position:right;
  cursor:pointer
}
#photo_input{
  display:none
}
.photo_input_label{
  font-family:serif;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
  background-color: white;
  transition:0.5s;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.photo_input_label:hover{
  background-color: pink;
}
.photo_input_label:active{
  background-color: hotpink;
}
.side_panel_current_plant{
  display:flex;
  flex-direction: column;
  gap:5px;
  font-size: 1rem;
}
.current_plant_photo{
  max-width:300px;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}
.current_plant_photo.edit{
  margin-bottom:1rem;
  aspect-ratio:1/1;
  object-fit: cover;
}
.current_plant_data_span{
  font-weight: bold;
}
.populate_form_btn{
  background-color: white;
  height:2rem;
  border-radius:1rem;
  margin-bottom:2rem;
  margin-top:0.5rem
}
.errors{
  border:1px solid red;
  padding:0.5rem;
  background-color: rgba(255, 192, 203, 0.8);
  border-radius: 1rem;
}
.errors_caption {
  margin:0
}
.errors>ul{
  margin:0;
  padding-left:1rem
}
.error{
  color:red
}
.server_error{
  background-color: rgba(255, 192, 203, 0.822);
  border-radius:1rem;
  padding:0.5rem
}
.server_error>*:not(.server_error_label){
  color:red;
  margin:0
}
.server_error_label{
  margin:0
}
@media screen and (max-width:560px) {
  .search_container{
    padding-left:0.25rem;
    white-space: nowrap;
  }
  .search_input{
    width:35%;
    margin-left:1rem
  }
  .search_input:focus{
    width:50%
  }
  .search_input:disabled{
    background-color: gray;
  }
  .page_title{
    display: none;
  }
  .search_autofill{
    width:15rem
  }
  .side_panel{
    width:60%;
    right:-100%
  }
}